<!DOCTYPE html>
<html>
  <head>
    <title>Take Stock</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body { padding-top: 60px; }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Take Stock</a>
          <form id="add_symbol" class="navbar-form pull-right">
            <input type="text" class="span2" placeholder="Add Symbol" name="symbol" />
          </form>
          <ul class="nav pull-right">
            <li><button id="btn_refresh" class="btn"><i class="icon-refresh"></i></button></li>
            <li class="divider-vertical"></li>
          </ul>
        </div>
      </div>
    </div>
 
    <div class="container">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Last price</th>
            <th>Change</th>
            <th>Mkt cap</th>
            <th>Volume</th>
            <th>Open</th>
            <th>Low</th>
            <th>High</th>
            <th>52wk low</th>
            <th>52wk high</th>
            <th>EPS</th>
            <th>P/E</th>
            <th>Beta</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="symbols_table_body">
        </tbody>
      </table>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/take_stock.js"></script>
  </body>
</html>